.templates-container {
  display: flex;
  justify-content: center;
  gap: .5rem;
  height: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0 4rem;
}

.dual-scroll-showcase {
  position: relative;
  width: 100vw;
  height: 600px;
  margin: 4rem 0;
  overflow: hidden;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.scroll-column {
  flex: 1;
  max-width: 800px;
  min-width: 400px;
  height: 100%;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
  );
  z-index: 2;
}